<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="AgkikdbEntities" connectionString="metadata=res://*/AgkikDBModel.csdl|res://*/AgkikDBModel.ssdl|res://*/AgkikDBModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=amit;Persist Security Info=True;database=agkikdb&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>